* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.form {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    padding: 20px;
}

.title{
    width: 100%;
    background-color: #2E86C1;
    color: white;
    text-align: center;
    padding: 8px;
    font-family: 'Poppins', sans-serif;
}

form {  
    display: flex;
    flex-direction: column;
}
